@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}
* {
  margin: 0;
}
.container {
  width: max-content;
  margin: 0 auto;
}
.avatar {
  width: max-content;
  margin: 0 auto;
}
.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 2px #BB99DD;
  padding: 2px;
  margin-top: 15px;
}
.mediaPrincipal {
  text-align: center;
  margin-bottom: 20px;
}
.mediaPrincipal a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.pageLink div {
  border: solid 2px #BB99DD;
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: center;
  padding: 15px 150px;
}
.pageLink div a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #BB99DD;
}
.socialMedia {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
.socialMedia img {
  width: 24px;
  height: 24px;
}
